<div class="htc-container">
  <div class="container buttom-margin-alignment">
    <div class="row component-banner">
      <div class="col-md-6 col-sm-6 col-xs-12 component-logo">
        <h1>Statistics</h1>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 component-banner-logo">

      </div>
    </div>
  </div>

  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="align-center">
          <h3>Team Activity</h3>
          <div class="inclusive-icon">
            <i class="fa fa-circle-o-notch"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statistics-card activity-card">
        <calendar-heatmap [data]="data" [color]="color" [overview]="overview" (handler)="print($event)" (onChange)="handleOnChange($event)">
        </calendar-heatmap>
      </div>
    </div>
  </div>

  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="align-center">
          <h3>Bug Bounty</h3>
          <div class="inclusive-icon">
            <i class="fa fa-circle-o-notch"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statistics-card bug-bounty-card">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>