<div class="htc-container">
  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="align-center">
          <h3>Meet the Team</h3>
          <div class="inclusive-icon">
            <i class="fa fa-circle-o-notch"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="email-signature">
          <div class="signature-details">
            <div class="signature-icon akash">
            </div>
            <h3 class="title">Akash Swarnakar</h3>
            <span class="post">Backend Developer</span>
          </div>
          <ul class="signature-content">
            <li><span>M</span> +91-7204789018</li>
            <li><span>E</span> akash.swarnakar@htc.com</li>
          </ul>
          <ul class="icon">
            <li><a href="" class="fa fa-facebook-f"></a></li>
            <li><a href="" class="fa fa-google-plus"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="email-signature">
          <div class="signature-details">
            <div class="signature-icon santosh">
            </div>
            <h3 class="title">Santosh Senapati</h3>
            <span class="post">Fullstack Developer</span>
          </div>
          <ul class="signature-content">
            <li><span>M</span> +91-7204789018</li>
            <li><span>E</span> santosh.senapati@htc.com</li>
          </ul>
          <ul class="icon">
            <li><a href="" class="fa fa-facebook-f"></a></li>
            <li><a href="" class="fa fa-google-plus"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="email-signature">
          <div class="signature-details">
            <div class="signature-icon prasanna">
            </div>
            <h3 class="title">Bala Prasanna</h3>
            <span class="post">Backend Developer</span>
          </div>
          <ul class="signature-content">
            <li><span>M</span> +91-7204789018</li>
            <li><span>E</span> bala.prasanna@htc.com</li>
          </ul>
          <ul class="icon">
            <li><a href="" class="fa fa-facebook-f"></a></li>
            <li><a href="" class="fa fa-google-plus"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
        <div class="email-signature">
          <div class="signature-details">
            <div class="signature-icon venkatesh">
            </div>
            <h3 class="title">Venkatesh</h3>
            <span class="post">Fullstack Developer</span>
          </div>
          <ul class="signature-content">
            <li><span>M</span> +91-7204789018</li>
            <li><span>E</span> venkatesh@htc.com</li>
          </ul>
          <ul class="icon">
            <li><a href="" class="fa fa-facebook-f"></a></li>
            <li><a href="" class="fa fa-google-plus"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="email-signature">
          <div class="signature-details">
            <div class="signature-icon hemanth">
            </div>
            <h3 class="title">Hemanth</h3>
            <span class="post">Fullstack Developer</span>
          </div>
          <ul class="signature-content">
            <li><span>M</span> +91-7204789018</li>
            <li><span>E</span> hemanth@htc.com</li>
          </ul>
          <ul class="icon">
            <li><a href="" class="fa fa-facebook-f"></a></li>
            <li><a href="" class="fa fa-google-plus"></a></li>
            <li><a href="" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>