<div class="htc-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="align-center">
          <h3>Blogs</h3>
          <div class="inclusive-icon">
            <i class="fa fa-circle-o-notch"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcum-panel">
        <!-- <div class="pull-right icon-box">
          <div class="breadcum-icon">
            <i class="fa fa-2x fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="breadcum-icon">
            <i class="fa fa-2x fa-th" aria-hidden="true"></i>
          </div>
        </div> -->
        <div class="pull-right search-box">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon">
              <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row auto-height">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-panel blog-content-main">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <!-- <div class="ribbon ribbon-top-right"><span>new</span></div> -->
            <button class="button">Read more</button>
            <div class="blog-image blog-image-vsix">

            </div>
            <div class="blog-header">
              <span>Visual Studio Extention</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">SANTOSH KUMAR SENAPATI</span>
              <span class="blog-date">Dec 14,2018</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <button class="button">Read more</button>
            <div class="blog-image blog-image-system-design">

            </div>
            <div class="blog-header">
              <span>System Design</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">BALA PRASANNA</span>
              <span class="blog-date">Nov 29,2018</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <button class="button">Read more</button>
            <div class="blog-image blog-image-nuget-package">

            </div>
            <div class="blog-header">
              <span>Nuget Package Mgmt.</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">AKASH SWARNAKAR</span>
              <span class="blog-date">Nov 25,2018</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <button class="button">Read more</button>
            <div class="blog-image blog-image-secure-development">

            </div>
            <div class="blog-header">
              <span>Secure Software development</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">BALA PRASANNA</span>
              <span class="blog-date">Nov 16,2018</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <button class="button">Read more</button>
            <div class="blog-image blog-image-code-obfuscation">

            </div>
            <div class="blog-header">
              <span>Code Obfuscation</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">SANTOSH KUMAR SENAPATI</span>
              <span class="blog-date">Oct 14,2018</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <button class="button">Read more</button>
            <div class="blog-image blog-image-release-management">

            </div>
            <div class="blog-header">
              <span>Component Release Mgmt.</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">HEMANTH</span>
              <span class="blog-date">Oct 1,2018</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blog-tiles">
          <div class="blog-content">
            <button class="button">Read more</button>
            <div class="blog-image blog-image-ui-component">

            </div>
            <div class="blog-header">
              <span>MIRRA Frontend Components</span>
            </div>
            <div class="blog-footer">
              <span class="blog-user-name">VENKATESH</span>
              <span class="blog-date">Sep 17,2018</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
              <span aria-hidden="true">«</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">4</a></li>
          <li class="page-item"><a class="page-link">5</a></li>
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>