<div class="htc-container">
  <div class="container buttom-margin-alignment">
    <div class="row component-banner">
      <div class="col-md-6 col-sm-6 col-xs-12 component-logo">
        <h1>Components</h1>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 component-banner-logo">

      </div>
    </div>
  </div>
  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="component-card component-card-default">
          <div class="service-count">91</div>
          <div class="service-icon">
            <i class="fa fa-3x fa-puzzle-piece"></i>
          </div>
          <div class="service-header">
            <span>Components</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="component-card component-card-default">
          <div class="service-count">17</div>
          <div class="service-icon">
            <i class="fa fa-3x fa-shield"></i>
          </div>
          <div class="service-header">
            <span>Projects</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="component-card component-card-default">
          <div class="service-count">3K</div>
          <div class="service-icon">
            <i class="fa fa-3x fa-briefcase"></i>
          </div>
          <div class="service-header">
            <span>Test cases</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="component-card component-card-default">
          <div class="service-count">20K</div>
          <div class="service-icon">
            <i class="fa fa-3x fa-code"></i>
          </div>
          <div class="service-header">
            <span>Lines of code</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="align-center">
          <h3>COMPONENT GALAXY</h3>
          <div class="inclusive-icon">
            <i class="fa fa-circle-o-notch"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container buttom-margin-alignment">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo audit-logger"></div>
          <div class="component-caption"><span>Activity Logger</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo email"></div>
          <div class="component-caption"><span>Email</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo error-logger"></div>
          <div class="component-caption"><span>Error Logger</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo power-drive"></div>
          <div class="component-caption"><span>Power Drive</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo queue"></div>
          <div class="component-caption"><span>Queue</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo scheduler"></div>
          <div class="component-caption"><span>Scheduler</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 component-tile-box">
        <div class="component-tile">
          <div class="ellipsis-logo"><i class="fa fa-ellipsis-v"></i></div>
          <div class="component-circle-logo caching"></div>
          <div class="component-caption"><span>Caching</span></div>
          <div class="component-sub-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">17</div>
              <div class="sub-headers-logo sub-headers-logo-feature"></div>
              <div class="sub-headers-title"><span>Features</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">65</div>
              <div class="sub-headers-logo sub-headers-logo-test-case"></div>
              <div class="sub-headers-title"><span>Test cases</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
              <div class="sub-headers-count">240</div>
              <div class="sub-headers-logo sub-headers-logo-lines-of-code"></div>
              <div class="sub-headers-title"><span>Lines of code</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>