<div class="card">
    <h3 class="logo-text">Kriya Platform (HTC) <span id="version">v1.0</span><span id="blinking">_</span>
        <span class="tag-line">We are <span class="typing"></span></span>
    </h3>
</div>
<div class="container cb">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="component-badge bg-gradient-danger">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Components <i class="fa fa-puzzle-piece float-right"></i></h1>
                <p class="component-badge-count">17</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="component-badge bg-gradient-info">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Downloads <i class="fa fa-download float-right"></i></h1>
                <p class="component-badge-count">439145</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="component-badge bg-gradient-success">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Projects <i class="fa fa-shield float-right"></i></h1>
                <p class="component-badge-count">10</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="align-center">
                <h3>OFFERINGS</h3>
                <div class="inclusive-icon">
                    <i class="fa fa-circle-o-notch"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 dashboard-badges">
            <div class="badge-content">
                <div class="badge-logo">
                    <i class="fa fa-3x fa-lightbulb-o icon-color"></i>
                </div>
                <div class="badge-header">
                    <span>Ideas & Concepts</span>
                </div>
                <div class="badge-desc">
                    <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for
                        all
                        your
                        visitors.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 dashboard-badges">
            <div class="badge-content">
                <div class="badge-logo">
                    <i class="fa fa-3x fa-motorcycle icon-color"></i>
                </div>
                <div class="badge-header">
                    <span>Optimized for speed</span>
                </div>
                <div class="badge-desc">
                    <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for
                        all
                        your visitors.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 dashboard-badges">
            <div class="badge-content">
                <div class="badge-logo">
                    <i class="fa fa-3x fa-pencil icon-color"></i>
                </div>
                <div class="badge-header">
                    <span>Designs & Interfaces</span>
                </div>
                <div class="badge-desc">
                    <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for
                        all
                        your visitors.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 dashboard-badges">
            <div class="badge-content">
                <div class="badge-logo">
                    <i class="fa fa-3x fa-cogs icon-color"></i>
                </div>
                <div class="badge-header">
                    <span>Highly Customizable</span>
                </div>
                <div class="badge-desc">
                    <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for
                        all
                        your visitors.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 dashboard-badges">
            <div class="badge-content">
                <div class="badge-logo">
                    <i class="fa fa-3x fa-code icon-color"></i>
                </div>
                <div class="badge-header">
                    <span>Coding & Deployment</span>
                </div>
                <div class="badge-desc">
                    <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for
                        all
                        your visitors.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 dashboard-badges">
            <div class="badge-content">
                <div class="badge-logo">
                    <i class="fa fa-3x fa-life-ring icon-color"></i>
                </div>
                <div class="badge-header">
                    <span>Dedicated Support</span>
                </div>
                <div class="badge-desc">
                    <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for
                        all
                        your visitors.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="align-center">
                <h3>JOURNEY SO FAR</h3>
                <div class="inclusive-icon">
                    <i class="fa fa-circle-o-notch"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <h3 class="title">Web Development</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis
                    repudiandae sequi, dolore quisquam illum.
                </p>
                <a class="read-more">2015</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-mobile"></i>
                </div>
                <h3 class="title">Mobility</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis
                    repudiandae sequi, dolore quisquam illum.
                </p>
                <a class="read-more">2016</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-puzzle-piece"></i>
                </div>
                <h3 class="title">Components</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis
                    repudiandae sequi, dolore quisquam illum.
                </p>
                <a class="read-more">2017</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-desktop"></i>
                </div>
                <h3 class="title">IoT</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis
                    repudiandae sequi, dolore quisquam illum.
                </p>
                <a class="read-more">2019</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="align-center">
                <h3>MEET THE TEAM</h3>
                <div class="inclusive-icon">
                    <i class="fa fa-circle-o-notch"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/images/Team/SantoshNew1.PNG">
                <div class="team-content">
                    <h3 class="title">SANTOSH</h3>
                    <span class="post">Full Stack Developer</span>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/images/Team/SantoshNew1.PNG">
                <div class="team-content">
                    <h3 class="title">SANTOSH</h3>
                    <span class="post">Full Stack Developer</span>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/images/Team/SantoshNew1.PNG">
                <div class="team-content">
                    <h3 class="title">SANTOSH</h3>
                    <span class="post">Full Stack Developer</span>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>